{% extends "base.html.twig" %}

{%  block title %}

{% endblock %}
<h1>Produits</h1>
    {%  for product in products %}
    <div><a href="{{ path('products', {'id': product.id}) }}">
            <li>{{ product.lib }}</li>
            <img src="{{ vich_uploader_asset(product, 'imageFile') }}" /></a><br>
    </div>
{% block body %}

{% endblock %}

