{# Page d'affichage du produit #}

{% extends "base.html.twig" %}

{%  block title %}
Produits
{% endblock %}

{% block header %}
    Produit
{% endblock %}
{%  block body %}
    <h1>Produit {# Faudra récupèrer le nom du produit #}</h1>

    {% include "_product.html.twig" with {"product" : product} %}
    {{ form_start(form, {'action': path('basket'), 'method': 'POST'}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}


