<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Welcome!{% endblock %}</title>
        <style>{% block stylesheets %}{% endblock %}</style>
    </head>
    <body>
    {#{%  for basket in basket %}#}
    {#}<a href="{{ path('basket_show', {'id': session.Panier1}) }}">#
        {#{% endfor %}#}
        <h3>Mon panier</h3></a>
        <header>
            {% block header%} <h1>Categories</h1>
                {%  for category in categories %}
                    {% include "_category.html.twig" with {"category" : category} %}
                {% endfor %}
            {% endblock %}
        </header>

        <article>
            {% block body %}
                <h1>Produits</h1>
                {%  for product in products %}
            <a href="{{ path('product_show', {'id': product.id}) }}">
                    {% include "_product.html.twig" with {"product" : product} %}
            </a>
                {% endfor %}
            {% endblock %}
        </article>

        <script>
        {% block javascripts %}{% endblock %}
        </script>
        <footer>{% block footer %}
{#   Le message flash (rajouter dans une pop up ?)
            {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
#}
                Footer {% endblock %}</footer>
    </body>
</html>