<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            {% block header%} <h1>Categories</h1>
                {%  for category in categories %}
                    {% include "_category.html.twig" with {"category" : category} %}
                {% endfor %}
            {% endblock %}
        </header>

        {% block body %}
            <h1>Produits</h1>
            {%  for product in products %}
                {% include "_product.html.twig" with {"product" : product} %}
            {% endfor %}
        {% endblock %}

        {% block javascripts %}{% endblock %}
        <footer>{% block footer %} Footer {% endblock %}</footer>
    </body>
</html>