{# Page d'affichage du panier #}

{% extends "base.html.twig" %}

{%  block title %}
Panier
{% endblock %}

{% block header %}
    Produit
{% endblock %}
{%  block body %}
    <h1>Panier </h1>
    {% include "_basket.html.twig" with {"basket" : basket} %}
{% endblock %}


{#% include "_product.html.twig" with {"product" : product} %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}#}